@model ML.Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">
        <h2 class="text-center title">Recuperar Contraseña</h2>
        <h3 class="description">Se enviara información a tu correo</h3>

        @using (@Html.BeginForm("NewPassword", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
        {
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form__input", @placeholder = "Ingresa tu E-mail" })
            <button class="button" type="submit">Enviar</button>
            <button class="buttonCancelar">Cancelar</button>
        }
    </div>
</body>
</html>
